hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

.site-title {
  font-family: 'Ancizar Serif', serif;
  font-size: 1.4rem;               /* adjust size as needed */
  color: #222;
}

.site-nav {
  display: flex;
  justify-content: flex-end;  /* Align links to the right */
  gap: 30px;                  /* Space between links */
}

.site-nav a {
  font-family: 'Ancizar Serif', serif;
  font-size: 1rem;
  color: #555;
  margin-right: 30px;
  text-decoration: none;
}

.site-nav a:hover {
  color: #000;
  text-decoration: underline;
}

.site-logo-link img {
  height: 50px; /* smaller size */
  width: auto;  /* keep aspect ratio */
}


.post-title {
  font-family: 'Georgia', serif; /* Change to your preferred font */
  font-weight: bold;             /* Optional */
  font-size: 2.5rem;             /* Optional, adjust size */
  color: #222222;                /* Optional, adjust color */
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}
